@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    padding: 0;
    margin: 0;
    background: #ddd;
    font-family: 'Roboto Slab', serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2{
    text-align: center;
}
label{
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

input{
    padding: 8px;
    border: 1px solid;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
}

button{
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
}

.invisible{
    display: none;
}